<div id="searchfilter_skeleton" class="animate-fast-pulse flex flex-col items-center bg-gray-500 py-4 justify-end px-5 h-56 sm:h-56 md:h-96 lg:h-96">
    <!-- Skeleton Search Bar -->
    <div class="w-full max-w-md px-4">
        <div class="animate-pulse flex items-center bg-gray-300 rounded-lg shadow-md h-12"></div>
    </div>

    <div class="h-4"></div> <!-- Spacer -->

    <!-- Skeleton Filters for larger screens (Desktop View) -->
    <div class="hidden md:flex flex-row justify-between items-center w-full max-w-4xl bg-gray-300 mt-8 p-4 rounded-lg animate-pulse">
        <div class="w-24 h-8 bg-gray-400 rounded"></div>
        <div class="w-24 h-8 bg-gray-400 rounded"></div>
        <div class="w-24 h-8 bg-gray-400 rounded"></div>
        <div class="w-24 h-8 bg-gray-400 rounded"></div>
    </div>
</div>
