{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}

<div class="min-h-screen flex items-center w-full justify-center bg-gradient-to-br from-[#FFF9E6]  to-[#FFB845] shadow-xl py-4 sm:py-12 px-2 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-6 form-style bg-[#FFEBB0] rounded-lg p-4 sm:p-8 border border-[#D4B670] mx-3">
    <div>
      <h2 class="mt-4 sm:mt-6 text-center text-2xl sm:text-3xl font-extrabold text-[#665A3F]">
        Create your account
      </h2>
    </div>
    <form class="mt-6 sm:mt-8 space-y-4" method="POST">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="flex flex-col justify-space-between rounded-md shadow-sm -space-y-px">
        {% for field in form %}
          <div class="{% if not forloop.first %}mt-4{% endif %}">
            <label for="{{ field.id_for_label }}" class="flex mb-2 text-sm sm:text-base font-semibold text-[#665A3F]">
              {{ field.label }}
            </label>
            <div class="relative">
              {{ field }}
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                {% if field.errors %}
                  <svg class="h-4 w-4 sm:h-5 sm:w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                  </svg>
                {% endif %}
              </div>
            </div>
            {% if field.errors %}
              {% for error in field.errors %}
                <p class="mt-1 text-xs sm:text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="flex justify-center mt-6">
        <button type="submit" class="w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-[#FFF9E6] bg-[#7E7058] hover:bg-[#665A3F] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#FFCF5C]">
          Register
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 sm:px-4 sm:py-3 rounded relative text-sm" role="alert">
        <span class="block sm:inline">{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4 pb-4">
      <p class="text-xs sm:text-sm text-[#665A3F]">
        Already have an account?
        <a href="{% url 'login' %}" class="font-medium text-[#7E7058] hover:text-[#665A3F]">
          Login here
        </a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
