{% extends 'base.html' %}
{% load static %}
<!--------------------------------------   HEAD   -------------------------------------------->
{% block meta %}
<link rel="stylesheet" href="{% static 'search/css/styles.css' %}">
<script>var getDishesUrl = "{% url 'get_dishes' %}";</script>
<script src="{% static 'search/js/scripts.js' %}"></script>
{% endblock meta %}
<!---------------------------------------  BODY  ---------------------------------------------->
{% block content %}

<div class="h-10"></div>

<!-- Search Bar, Filter Button Show when screen < md -->
{% include "search_bar.html" %}

<div class="h-4"></div>

<!-- Filters for larger screens (md and larger) -->
{% include "filter_bar.html" %}

<!-- Filter Modal for smaller screens -->
{% include "filter_modal.html" %}

<div class="h-10"></div>

<div id="dish_list_view"></div>

<div class="h-10"></div>


{% endblock %}
