<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <style>
        /* Global style untuk body */
    </style>
</head>
<body>

    <div class="navbar">
        <!-- Bagian kiri: Brand atau nama website -->
        <div class="navbar-left">
            <a href="#">Taste Of Bandung</a>
        </div>

        <!-- Bagian kanan: Menu items -->
        <div class="navbar-right">
            <a href="#">profile</a>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Activities</a>
        </div>
    </div>

</body>
</html>