<!-- History Header-->
<div class="flex flex-row items-center justify-between mt-4 mb-2 md:mb-4 w-full">
    <!-- History Title -->
    <p class="text-stone-600 text-2xl md:text-4xl font-bold md:mb-0">
        History
    </p>

    <!-- Edit Profile Button -->
    <div class="flex flex-row text-stone-100 items-center">
        <button id="clearHistoryBtn" class="bg-blue-500 text-white px-4 py-2 rounded text-sm md:text-base">
            Clear History
        </button>
    </div>
</div>

<!-- Hidden CSRF Token Input -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">