<!-- Alert for Incomplete Profile -->
<div id="incomplete-profile-alert" class="{% if user.first_name and user.last_name and user.email %}hidden{% endif %} bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded mb-6 w-full" role="alert">
    <strong class="font-bold">Incomplete Profile!</strong>
    <span class="block sm:inline">Please complete your profile by providing your first name, last name, and email.</span>
</div>

<!-- Profile Header -->
<div class="flex flex-row items-center justify-between mt-4 md:mb-4 w-full">
    <p class="text-stone-600 text-2xl md:text-4xl font-bold mb-2 md:mb-0">Your Profile</p>

    <!-- Edit Profile Button -->    
    <div class="flex flex-row text-stone-100 items-center">
        <button id="editProfileBtn" class="bg-blue-500 text-white px-4 py-2 rounded text-sm md:text-base">
            Edit Profile
        </button>
    </div>
</div>

<!-- Profile Body-->
<div id="user_profile" class="flex flex-col space-y-2 mb-2">
    <!-- Profile Name Fields -->
    <div class="flex flex-col md:flex-row md:space-x-16 space-y-2 md:space-y-0">
        <div class="flex flex-col w-full md:w-1/2">
            <label class="font-semibold">First Name</label>
            <p id="profile-first-name" class="text-gray-700">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    Not Provided
                {% endif %}
            </p>
        </div>
        <div class="flex flex-col w-full md:w-1/2">
            <label class="font-semibold">Last Name</label>
            <p id="profile-last-name" class="text-gray-700">
                {% if user.last_name %}
                    {{ user.last_name }}
                {% else %}
                    Not Provided
                {% endif %}
            </p>
        </div>
    </div>
    
    <!-- Email Field -->
    <div class="flex flex-col">
        <label class="font-semibold">Email</label>
        <p id="profile-email" class="text-gray-700">
            {% if user.email %}
                {{ user.email }}
            {% else %}
                Not Provided
            {% endif %}
        </p>
    </div>
</div>
