{% load static %}

<!-- Profile Picture and Username -->   
<div class="flex flex-col justify-between items-center w-full md:w-1/3 lg:w-1/5 mx-auto">
    <div class="flex flex-col space-y-4 items-center">
        <div class="w-24 h-24 md:w-32 md:h-32 rounded-full bg-stone-600 border-[#FBBF24] border-2">
            <img src="{% static 'img/profile.png' %}" class="w-24 h-24 md:w-32 md:h-32 rounded-full aspect-square" alt="Profile Picture">
        </div>
        <p id="user-full-name" class="text-[#2C1810] text-lg md:text-xl font-bold">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="text-[#9C8579] text-sm md:text-md">{{ user.username }}</p>
    </div>

    <!-- Delete Account Button -->  
    <div class="flex flex-col w-full mt-4 items-center">
        <button id="delete-account-btn" class="bg-[#DC2626] hover:bg-[#B91C1C] text-white px-4 py-2 rounded text-sm md:lg w-full hidden md:block">
            Delete Account
        </button>
    </div>
</div>
