html {
    min-height: 100%;
    background: linear-gradient(to bottom, 
    #d4a45c, /* Warna pertama */
    #d5ab60, /* Warna transisi 1 */
    #d6ad64, /* Warna transisi 2 */
    #d6b56a, /* Warna transisi 3 */
    #d6c06f, /* Warna kedua */
    #c2b16b, /* Warna transisi 4 */
    #ad9d64  /* Warna ketiga */
);

}
@keyframes fast-pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.animate-fast-pulse {
    animation: fast-pulse 0.75s infinite; /* Faster pulse, 0.75 seconds */
}